In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv('/content/Day.csv')
data.head()

  Day   Outlook Temperature Humidity   Wind Class: Play Ball
0  D1     Sunny         Hot     High  False               No
1  D2     Sunny         Hot     High   True               No
2  D3  Overcast         Hot     High  False              Yes
3  D4      Rain        Mild     High  False              Yes
4  D5      Rain        Cool   Normal  False              Yes

In [ ]:
df= data.drop(['Day'], axis=1)
df

     Outlook Temperature Humidity   Wind Class: Play Ball
0      Sunny         Hot     High  False               No
1      Sunny         Hot     High   True               No
2   Overcast         Hot     High  False              Yes
3       Rain        Mild     High  False              Yes
4       Rain        Cool   Normal  False              Yes
5       Rain        Cool   Normal   True               No
6   Overcast        Cool   Normal   True              Yes
7      Sunny        Mild     High  False               No
8      Sunny        Cool   Normal  False              Yes
9       Rain        Mild   Normal  False              Yes
10     Sunny        Mild   Normal   True              Yes
11  Overcast        Mild     High   True              Yes
12  Overcast         Hot   Normal  False              Yes
13      Rain        Mild     High   True               No

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['outlook_encoded']= le.fit_transform(df['Outlook'])
df['temp_encoded']= le.fit_transform(df['Temperature'])
df['humidity_encoded']= le.fit_transform(df['Humidity'])
df['wind_encoded']= le.fit_transform(df['Wind'])
df['play_encoded']= le.fit_transform(df['Class: Play Ball'])
print(df.head(5))

    Outlook Temperature Humidity   Wind Class: Play Ball  outlook_encoded  \
0     Sunny         Hot     High  False               No                2
1     Sunny         Hot     High   True               No                2
2  Overcast         Hot     High  False              Yes                0
3      Rain        Mild     High  False              Yes                1
4      Rain        Cool   Normal  False              Yes                1

   temp_encoded  humidity_encoded  wind_encoded  play_encoded
0             1                 0             0             0
1             1                 0             1             0
2             1                 0             0             1
3             2                 0             0             1
4             0                 1             0             1

In [ ]:
df.isnull().sum()

Outlook             0
Temperature         0
Humidity            0
Wind                0
Class: Play Ball    0
outlook_encoded     0
temp_encoded        0
humidity_encoded    0
wind_encoded        0
play_encoded        0
dtype: int64

In [ ]:
pip install sklearn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting sklearn
  Downloading sklearn-0.0.tar.gz (1.1 kB)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from sklearn) (1.0.2)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.7.3)
Requirement already satisfied: numpy>=1.14.6 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.21.6)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.1.0)
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py) ... done
  Created wheel for sklearn: filename=sklearn-0.0-py2.py3-none-any.whl size=1310 sha256=148df896713e65cd0372fffbe75faaff49bb8debf87236420a63ba0a5b313e2a
  Stored in directory: /root/.cache/pip/wheels/46/ef/c3/157e41f5ee1372d1be90b09f74f82b10e391eaacca8f22d33e
Successfully built sklearn
Installing collected packages: sklearn
Successfully installed sklearn-0.0

In [ ]:
from sklearn.model_selection import train_test_split

what is random state and why we need it in test train split?

Random_state is used to set the seed for the random generator so that we can ensure that the results that we get can be reproduced. Because of the nature of splitting the data in train and test is randomised you would get different data assigned to the train and test data unless you can control for the random factor.
For example, imagine you have numbers: 1,2,3,4,5 and you want to select two random numbers. Without using a random_state you would get different things: i.e. first 2,5 then 3,4 and so on.
When you control the random generator by setting the random state to 0, 1 or another number, everyone would get the same random numbers generated: i.e random_state=1 then the random numbers are 1,3 and everyone who will pick two random numbers using random_state=1 from 1,2,3,4,5 will get the same two numbers as you: 1,3.

In [ ]:
features=['outlook_encoded', 'temp_encoded', 'humidity_encoded','wind_encoded']
x=df[features]# since these are the features we take them as x
y=df['play_encoded']# since play is the output or label we'll take it as y
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2,random_state=42)
print("\nShape of x_train:\n{}".format(x_train.shape))
print("\nShape of x_test:\n{}".format(x_test.shape))
print("\nShape of y_train:\n{}".format(y_train.shape))
print("\nShape of y_test:\n{}".format(y_test.shape))

Shape of x_train:
(11, 4)

Shape of x_test:
(3, 4)

Shape of y_train:
(11,)

Shape of y_test:
(3,)

In [ ]:
#Fitting Decision Tree classifier to the training set  
from sklearn.tree import DecisionTreeClassifier  
classifier= DecisionTreeClassifier(criterion='entropy', random_state=0)  
classifier.fit(x_train, y_train)

DecisionTreeClassifier(criterion='entropy', random_state=0)

In [ ]:
df1 = DecisionTreeClassifier(max_depth = 6)
df1.fit(x_train,y_train)

DecisionTreeClassifier(max_depth=6)

In [ ]:
y_train_pred = df1.predict(x_train)
y_test_pred = df1.predict(x_test)

In [ ]:
from sklearn.metrics import make_scorer, accuracy_score, precision_score, recall_score, f1_score
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.metrics._plot.confusion_matrix import plot_confusion_matrix
cm = confusion_matrix(y_test, y_test_pred)
accuracy = accuracy_score(y_test,  y_test_pred)
precision = precision_score(y_test,  y_test_pred)
recall = recall_score(y_test, y_test_pred)
f1 = f1_score(y_test,  y_test_pred)

In [ ]:
print('Confusion matrix for decisionTree',cm)

Confusion matrix for decisionTree [[0 1]
 [0 2]]

In [ ]:
print('Accuracy_decisionTree: %.3f' %accuracy)

Accuracy_decisionTree: 0.667

ccp_alpha : - Pruning technique is parameterized by the cost complexity parameter , ccp__alpha. Greater values of ccp_alpha increase the number of nodes pruned.(prunin

In [ ]:
df2 = DecisionTreeClassifier(ccp_alpha = 0.002)
df2.fit(x_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.002)

In [ ]:
y_train_pred2 = df2.predict(x_train)
y_test_pred2 = df2.predict(x_test)

In [ ]:
cm2 = confusion_matrix(y_test, y_test_pred2)
accuracy2 = accuracy_score(y_test,  y_test_pred2)
precision2 = precision_score(y_test,  y_test_pred2)
recall2 = recall_score(y_test, y_test_pred2)
f1_2 = f1_score(y_test,  y_test_pred2)

In [ ]:
print('Confusion matrix for decisionTree',cm2)

Confusion matrix for decisionTree [[0 1]
 [0 2]]

In [ ]:
print('Accuracy_decisionTree: %.3f' %accuracy2)

Accuracy_decisionTree: 0.667

In [ ]:
print('Precision_decisionTree: %.3f' %precision2)

Precision_decisionTree: 0.667